# Linked Lists

In simple words, a linked list consists of nodes where each node contains a data field and a reference(link) to the next node in the list.

|D|R| -> |D|R| -> |D|R|

# Revising some important concepts before

# Array

Creating an array

In [4]:
from array import *

# i: type of array elements, in that case
# represents signed integer of size 2 bytes

array1 = array('i', [10,20,30,40,50])

In [5]:
for x in array1:
    print(x)

10
20
30
40
50

In [7]:
print (array1[4])

50

**Insertion**

In [8]:
array1.insert(1,60)

In [9]:
for x in array1:
    print(x)

10
60
20
30
40
50

**Deletion**

In [10]:
array1.remove(30)

In [11]:
for x in array1:
    print(x)

10
60
20
40
50

**Search Operation**

In [12]:
print(array1.index(20))

2

# Two dimensional Array

Array whithin an array

In [43]:
T = [[11,12,5,2], [15,15,15], [10, 8, 12, 5]]

In [45]:
T

[[11, 12, 5, 2], [15, 15, 15], [10, 8, 12, 5]]

In [47]:
len(T)

3

In [48]:
T[1][2]

15

In [51]:
T[2][2]

12

# Lists

**Creating lists**

In [13]:
list1 = ['physics', 'chemistry', 1997, 2000]
list2 = [1, 2, 3, 4, 5]
list3 = ['a', 'b', 'c', 'd']

In [14]:
print(list1)

['physics', 'chemistry', 1997, 2000]

In [19]:
print ("list1[1]: ", list1[1], "from list1")

list1[1]:  chemistry from list1

**Deleting lists**

In [20]:
print(list1)

['physics', 'chemistry', 1997, 2000]

In [21]:
del list1[1]

In [22]:
print(list1)

['physics', 1997, 2000]

Lenght of list

In [23]:
len(list1)

3

**Concatenation**

In [24]:
[1,2,3] + [4, 5, 6]

[1, 2, 3, 4, 5, 6]

**Repetition**

In [25]:
['Hi']*4

['Hi', 'Hi', 'Hi', 'Hi']

**Membership**

In [26]:
2 in [1,2,3]

True

**Iteration**

In [28]:
for x in [1,2,3]:
    print (x)

1
2
3

# Tuples

The difference between tuples and lists is that the tuples cannot be changed

In [32]:
tup1 = ('physics', 'chemistry', 1997, 2000)
tup2 = (1,2,3,4,5)
tup3 = "a", "b", "c", "d"

In [30]:
# An empity tuple:
tup1 = ()

In [31]:
#Tuple with an single value
tup1 = (40,)

**Accessing Values**

In [33]:
print(tup1[1])

chemistry

In [34]:
print(tup1[1:5])

('chemistry', 1997, 2000)

**Deleting**: It's not possible delete an individual element in a tuple, you need to remove all structure

In [35]:
print(tup1)

('physics', 'chemistry', 1997, 2000)

In [36]:
del tup1

In [37]:
print(tup1)

NameError: name 'tup1' is not defined

# Dictionary

In dictionary each key is separated from it value by a colon (:), the items are separated by commas, and the whole thing is enclosed in a curly braces ({}).

keys are unique within a dictionary while values may not be. The values of a dictionary can be of any type, but the keys must be of an immutable data type such as strings, numbers, or tuples

**Creating a dictionary**

In [38]:
dict = {'Name': 'Hugo', 'Age': 21, 'Class': 'FCE'}

In [39]:
print(dict['Name'])

Hugo

In [40]:
print(dict['Age'])

21

In [41]:
print(dict['Class'])

FCE

In [42]:
print(dict)

{'Name': 'Hugo', 'Age': 21, 'Class': 'FCE'}

# Matrix

In [52]:
from numpy import *

In [53]:
a = array([['Mon',18,20,22,17],['Tue',11,18,21,18],
		   ['Wed',15,21,20,19],['Thu',11,20,22,21],
		   ['Fri',18,17,23,22],['Sat',12,22,20,18],
		   ['Sun',13,15,19,16]])

In [54]:
a

array([['Mon', '18', '20', '22', '17'],
       ['Tue', '11', '18', '21', '18'],
       ['Wed', '15', '21', '20', '19'],
       ['Thu', '11', '20', '22', '21'],
       ['Fri', '18', '17', '23', '22'],
       ['Sat', '12', '22', '20', '18'],
       ['Sun', '13', '15', '19', '16']], dtype='<U3')

In [56]:
m = reshape(a, (7,5))
print(m)

[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Wed' '15' '21' '20' '19']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']]

In [57]:
type(a)

numpy.ndarray

In [58]:
type(m)

numpy.ndarray

**Adding a row**

In [59]:
m_r = append(m,[['Avg',12,15,14,11]],0)

In [60]:
print(m_r)

[['Mon' '18' '20' '22' '17']
 ['Tue' '11' '18' '21' '18']
 ['Wed' '15' '21' '20' '19']
 ['Thu' '11' '20' '22' '21']
 ['Fri' '18' '17' '23' '22']
 ['Sat' '12' '22' '20' '18']
 ['Sun' '13' '15' '19' '16']
 ['Avg' '12' '15' '14' '11']]

**Adding a column**

In [61]:
m_c = insert(m,[5],[[1],[2],[3],[4],[5],[6],[7]],1)

print(m_c)

[['Mon' '18' '20' '22' '17' '1']
 ['Tue' '11' '18' '21' '18' '2']
 ['Wed' '15' '21' '20' '19' '3']
 ['Thu' '11' '20' '22' '21' '4']
 ['Fri' '18' '17' '23' '22' '5']
 ['Sat' '12' '22' '20' '18' '6']
 ['Sun' '13' '15' '19' '16' '7']]

# Maps

Also called ChainMap is a type of data strcucture to manate multiple dictionaties together as one unit. The combinned dictionary contains the key and value pair in a specific sequence eliminating any duplicate keys.

In [62]:
import collections

dict1 = {'day1': 'Mon', 'day2': 'Tue'}
dict2 = {'day4': 'Wed', 'day1': 'Thu'}

res = collections.ChainMap(dict1, dict2)

In [65]:
print(res.maps)

[{'day1': 'Mon', 'day2': 'Tue'}, {'day4': 'Wed', 'day1': 'Thu'}]

In [66]:
print('Keys = {}'.format(list(res.keys())))

Keys = ['day4', 'day1', 'day2']

In [70]:
print('Values = {}'.format(list(res.values())))

Values = ['Wed', 'Mon', 'Tue']

In [71]:
print('elements: ')
for key, val in res.items():
    print('{} = {}'.format(key,val))

elements:
day4 = Wed
day1 = Mon
day2 = Tue

In [72]:
# Find a specific value in the result
print('day3 in res: {}'.format(('day1' in res)))

day3 in res: True

# Nodes

*Nodes are Python pointers*

*Brief example of classes*

In [9]:
# Class is used to keep related things together 
class Snake:
    
    # The creation of this variable isn't mandatory
    #If I declare variable inside the constructor (__init__)
    #It isn't necessary creating the variables 
    
    #name = 'python'
    
    #Init is the class constructor
    # self refers to a class created
    def __init__(self, name):
        self.name = name
    
    def change_name(self, new_name):
        self.name = new_name

In [10]:
python = Snake("python")
anaconda = Snake("anaconda")

In [11]:
print(python.name)
print(anaconda.name)

python
anaconda

**Node example**

In [15]:
class daynames:
    def __init__(self, dataval=None):
        self.dataval = dataval
        self.nextval = None

The nextval pointer is initialized to null and three nodes are initialized with values as shown

In [19]:
e1 = daynames('Mon')
e2 = daynames('Tue')
e3 = daynames('Wed')
e4 = daynames('Thu')

e1.nextval = e2
e2.nextval = e3
e3.nextval = e4

**Traversing the Node Elements**

In [20]:
thisvalue = e1

while thisvalue:
    print(thisvalue.dataval)
    thisvalue = thisvalue.nextval

Mon
Tue
Wed
Thu